<h4>Listado  {{tipo}}</h4>

<span style="font-size:large; font-weight: bold; color: red;">{{msgError}}</span>

<table class="table">
    <thead>
      <tr>
        <th><a style="cursor: pointer;" (click)="Consultar('Id')">Id</a></th>
        <th><a style="cursor: pointer;" (click)="Consultar('Nombre')">Nombre</a></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <td><a [routerLink]="['/details', tipo, item.Id]">{{item.Id}}</a></td>
        <td>{{ item.Nombre }}</td>
        <td><a [routerLink]="['/details', tipo, item.Id * -1]">[Eliminar]</a></td>
      </tr>
    </tbody>
  </table>

  <a [routerLink]="['/details', tipo, 0]">[Crear]</a>

  <br>  

