<div *ngIf="vehiculo">
    <h4>{{titulo}}</h4>
    <span style="font-size:large; font-weight: bold; color: red;">{{msgError}}</span>
    
    <div class="row">
        <div class="col-2">
            Tipo
            <select [(ngModel)]="vehiculo.IdTipoVehiculo" class="form-control">
                <option *ngFor="let option of tiposVehiculo" [ngValue]="option.Id">{{ option.Nombre }}</option>
            </select>
        </div>
        <div class="col-4">
            Modelo-Versión
            <select [(ngModel)]="vehiculo.IdModeloVersion" class="form-control">
                <option *ngFor="let option of modelosVersiones" [ngValue]="option.Id">{{ option.Nombre }}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Color
            <select [(ngModel)]="vehiculo.IdColorVehiculo" class="form-control">
                <option *ngFor="let option of coloresVehiculo" [ngValue]="option.Id">{{ option.Nombre }}</option>
            </select>
        </div>
        <div class="col-4">
            Concesionario            
            <select [(ngModel)]="vehiculo.IdSucursalConcesionario" class="form-control">
                <option *ngFor="let option of sucursalesConcesionario" [ngValue]="option.Id">{{ option.NombreCompleto }}</option>
            </select>            
        </div>
    </div>

    <div class="row">        
        <div class="col-2">
            Patente
            <input id="patente" [(ngModel)]="vehiculo.Patente" class="form-control" >
        </div>
        <div class="col-2">
            Puertas
            <input id="Puertas" [(ngModel)]="vehiculo.Puertas" class="form-control" type="number" >
        </div>            
    </div>
</div>

<br><br>
<button type="button" (click)="Actualizar()">{{textoBtnActualizar}}</button>
&nbsp;&nbsp;
<button type="button" (click)="goBack()">Volver</button>
<br>