<h4>Listado de Vehiculos</h4>

<div class="row">
    <div class="col-1">
        Id
        <input [(ngModel)]="consulta.Id" class="form-control" placeholder="123" type="number" >
    </div>
    <div class="col-1">
      Tipo
      <select [(ngModel)]="consulta.IdTipoVehiculo" class="form-control">
        <option *ngFor="let option of options" [ngValue]="option.Id">{{ option.Nombre }}</option>
      </select>
    </div>
    <div class="col-2">
        Patente
        <input [(ngModel)]="consulta.Patente" class="form-control" placeholder="ABCD12" >
    </div>
    <div class="col-2">
        Creación Desde
        <input [(ngModel)]="consulta.FecCreacionDesde" class="form-control" type="date" >
    </div>
    <div class="col-2">
        Creación Hasta
        <input [(ngModel)]="consulta.FecCreacionHasta" class="form-control" type="date" >        
    </div>

    <div class="col-1">
        Reg x Pág
        <input [(ngModel)]="consulta.RegistrosPagina" class="form-control" type="number">
    </div>
    

    <div class="col-3" style="margin-top:22px">
        <button class="btn btn-secondary" (click)="Consultar()">Buscar</button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-secondary" (click)="Limpiar()">Limpiar</button>
    </div>

</div>
<span style="font-size:large; font-weight: bold; color: red;">{{msgError}}</span>
<br><br>
<table class="table">
    <thead>
      <tr>
        <th><a style="cursor: pointer;" (click)="Consultar('Id')">Id</a></th>
        <th><a style="cursor: pointer;" (click)="Consultar('NombreTipoVehiculo')">Tipo</a></th>
        <th><a style="cursor: pointer;" (click)="Consultar('NombreModeloVehiculo')">Modelo</a></th>
        <th><a style="cursor: pointer;" (click)="Consultar('Patente')">Patente</a></th>
        <th><a style="cursor: pointer;" (click)="Consultar('FecCreacion')">Creacion</a></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <td><a [routerLink]="['/vehiculo', item.Id]">{{item.Id}}</a></td>
        <td>{{ item.NombreTipoVehiculo }}</td>
        <td>{{ item.NombreModeloVehiculo }}</td>
        <td>{{ item.Patente }}</td>
        <td>{{ item.FecCreacion | date:'dd-MM-yyyy' }}</td>
        <td><a [routerLink]="['/vehiculo', (item.Id * -1)]">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
  <table style="width: 100%;">
    <tr>
      <td>
        <a [routerLink]="['/vehiculo', 0]">[Crear]</a>
      </td>
      <td style="text-align: right;">
        <span *ngIf="consulta.NumeroPagina! > 1"> <a style="cursor: pointer;" (click)="PrimeraPagina()"> |&lt;  &nbsp;</a> </span>
        <span *ngIf="consulta.NumeroPagina! > 1"> <a style="cursor: pointer;" (click)="RetrocederPagina()"> &lt;  &nbsp;</a> </span>
        Página {{ consulta.NumeroPagina }} &nbsp;
        <span> <a style="cursor: pointer;" (click)="AvanzarPagina()">&gt; &nbsp;</a> </span>
      </td>      
    </tr>
  </table>
  <br>  
